@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "clash-display-bold";
    src: url("../docs/fonts/ClashDisplay-Semibold.ttf") format('truetype');
  }
  @font-face {
    font-family: "clash-display-medium";
    src: url("../docs/fonts/ClashDisplay-Medium.ttf") format('truetype');
  }

  body {
    @apply font-clash-display-medium;
  }
}

@layer utilities {
  .large-shadow {
    box-shadow: 5px 4px 0px 1px #000;
  }
  .medium-shadow {
    box-shadow: 4px 4px 0px 0px #000;
  }
  .small-shadow {
    box-shadow: 2px 2px 0px 0px #000;
  }
  .large-font {
    font-size: 5.4rem;
    line-height: 1.1;
  }
  .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
  }
  .active {
    transform: translateY(0px);
    opacity: 1;
  }
}
